body {
	margin: 0;
	background-color: rgb(238, 238, 238);
	color: rgb(0, 0, 0);
	font-family: Monospace;
	font-size: 17px;
	line-height: 30px;
	overscroll-behavior: none;
}

a {
	color: rgb(0, 0, 0);
    font-size: 17px;
    font-weight: bold;
}


nav {
	color: rgb(255,0,0);
    font-size: 17px;
    font-weight: bold;
}


p {
	color: rgb(0, 0, 0);
    font-size: 17px;
	padding: 18px;
	margin: 0px;
}

h1, h2, h3, h4 {
	padding: 18px;
	margin: 0px;
}

h2.page-section{
	text-align: center;
}

#info {
	position: absolute;
	top: 50%;
	width: 100%;
	padding: 30px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}



ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(238, 238, 238);
	font-size: 50px;
}
  
li {
	float: left;
	font-size: 0px;
}
  
li a {
	color: rgb(0, 0, 0);
	text-align: center;
	padding: 18px;
	text-decoration: none;
	font-size: 17px;
}
  


#index :hover{
	background-color: rgb(237, 11, 43);
}

#examples :hover{
	background-color: rgb(48, 159, 255);
}

#download :hover{
	background-color: rgb(179, 66, 143);
}

#about :hover{
	background-color: rgb(195, 195, 13);
}
